<h1>Create snippet</h1>
<form class="row g-3 p-2" method="post" action="./snippets/create" id="snippetForm">
  <div class="form-group row mt-3">
    <label class="form-label" for="nameInput">
      Snippet Name
    </label>
    <input type="text" class="form-control" id="nameInput" name="snippetName"
      placeholder="Enter a new snippets name here" required="required" autofocus="autofocus" />
  </div>
  <div class="form-group row">
    <label for="snippetCode">Snippet code</label>
    <textarea class="form-control" placeholder="Enter snippet code here" id="snippetCode" name="snippetCode" rows="15"></textarea>
  </div>
  <div class="form-group row">
    <div class="form-check-label">Snippet tag</div>
    <div class="form-check">
      <input class="form-check-input" type="radio" value="JavaScript" id="tag1" name="tag" checked>
      <label class="form-check-label" for="tag1">
        JavaScript
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" value="HTML" id="tag2" name="tag">
      <label class="form-check-label" for="tag2">
        HTML
      </label>
    </div>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-primary" id="submitButton">Create</button>
  </div>
</form>
<script src="./javascript/disableSubmit.js"></script>
<script src="./javascript/tabCatcher.js"></script>