<h1>Register user</h1>
<form class="row g-3 p-2" method="post" action="./register">
  <div class="form-group row mt-3">
    <label class="form-label" for="email">
      E-mail:
    </label>
    <input type="text" class="form-control" id="email" name="email"
      placeholder="Enter your e-mail" required="required" autofocus="autofocus" autocomplete="off"/>
  </div>
  <div class="form-group row mt-3">
    <label class="form-label" for="nickname">
      Nickname:
    </label>
    <input type="text" class="form-control" id="nickname" name="nickname"
      placeholder="Enter your nickname" required="required" autofocus="autofocus" autocomplete="off"/>
  </div>
  <div class="form-group row mt-3">
    <label class="form-label" for="password">
      Password:
    </label>
    <input type="password" class="form-control" id="password" name="password"
      placeholder="Enter your password" required="required" aria-describedby="passwordHelpBlock" autocomplete="off"/>
      <div id="passwordHelpBlock" class="form-text text-danger">
        Your password must be more than 10 characters long.
      </div>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-primary">Register</button>
  </div>
</form>
<script src="./javascript/passwordCheck.js"></script>