<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h3>
      Issues - a Realtime Web Application
    </h3>
    <p>
      This is an assignment for an Express website handling websockets and webhooks
    </p>
    <p>
      <a class="btn btn-primary btn-lg" href="./issues" role="button">
        View Issues »
      </a>
    </p>
  </div>
</div>
<!-- /container -->