<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h3>
      Snippets - a CRUD application for storing code snippets
    </h3>
    <p>
      This is an assignment for an Express website handling persistent data.
    </p>
    <p>
      <a class="btn btn-primary btn-lg" href="./snippets" role="button">
        View Snippets »
      </a>
    </p>
  </div>
</div>
<!-- /container -->